<!DOCTYPE html>
<html  data-bs-theme="dark">

<head>
  <title>Competitive Mediashare Hall of Fame</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"  integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/5a69a86b05.js" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script type="module" src="/ratings.js"></script>
  <script>
    window.leaderboard = <%- JSON.stringify(leaderboard) %>;
    window.trophy_users = <%- JSON.stringify(trophy_users) %>;
  </script>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
    .leaderboard-user {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    .vid_card:hover {
      transform-box: content-box;
      transform: scale(1.25);
      transition: transform 1s;
      z-index: 100;
    }
    .vid_card:hover .card-header {
      overflow: visible;
      text-overflow: clip;
      white-space: normal;
      width: auto;
    }
    .stat {
      margin-right: 20px;
    }

    .stat i {
      margin-right: 5px;
    }

    .btn-fixed-bottom {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      font-weight: bold;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    #youtubeTable td img {
      width: 75%;  /* or any other percentage */
      height: auto;
    }
    .btn-fixed-bottom:hover {
      background-color: #0056b3;
    }

    #leaderboard-container {
      position: fixed;
      right: 10px;
      width: 275px;
      background-color: #353e47;
      padding: 15px;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    #leaderboard-container::before,
    #leaderboard-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      border: 3px dashed #4ab4ff;  /* Dashed border */
      border-radius: 10px;  /* Rounded corners */
    }
    #leaderboard-container::after {
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
    }
    .rating {
      flex: 1;
      text-align: right; 
    }

    .rank {
      text-align: left; 
    }
    .user {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .rating-modal {
      display: none;
      position: fixed;
      z-index: 1;
      overflow: auto;
      background-color: #434654;
    }
    .rating-modal .modal-body {
      padding: 20px;
    }
    .rating-modal .modal-body ul {
      list-style-type: none;
      padding-left: 20px;
    }
    .rating-modal .modal-body ul li {
      margin-bottom: 10px;
    }
    #half-stars .rating-group {
      display: inline-flex;
    }

    #half-stars .rating__icon {
      pointer-events: none;
    }

    #half-stars .rating__input {
      position: absolute !important;
      left: -9999px !important;
    }

    #half-stars .rating__label {
      cursor: pointer;
      /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
      padding: 0 0.1em;
      font-size: 3rem;
    }

    #half-stars .rating__label--half {
      padding-right: 0;
      margin-right: -1.2em;
      z-index: 2;
    }

    #half-stars .rating__icon--star {
      color: orange;
    }

    #half-stars .rating__icon--none {
      color: #eee;
    }

    #half-stars .rating__input--none:checked+.rating__label .rating__icon--none {
      color: red;
    }

    #half-stars .rating__input:checked~.rating__label .rating__icon--star,
    #half-stars .rating__input:checked~.rating__label--half .rating__icon--star {
      color: #ddd;
    }

    #half-stars .rating-group:hover .rating__label .rating__icon--star,
    #half-stars .rating-group:hover .rating__label--half .rating__icon--star {
      color: orange;
    }

    #half-stars .rating__input:hover~.rating__label .rating__icon--star,
    #half-stars .rating__input:hover~.rating__label--half .rating__icon--star {
      color: #ddd;
    }

    #half-stars .rating-group:hover .rating__input--none:checked+.rating__label .rating__icon--none {
      color: red;
    }

    #half-stars .rating__input--none:hover+.rating__label .rating__icon--none {
      color: red;
    }

    .rating-modal-content {
      background-color: #434654;
      padding: 20px;
      border: 1px solid #888;
      text-align: center;
      border-radius: 10px;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #4ab4ff;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      color: #d1d1d1;
      margin-bottom: 10px;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.9);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }
    .moderation-icon {
      position: absolute;
      left: 0;
      color: #fff;   /* Change color as needed */
      font-size: 2em;   /* Change font size as needed */
      background: rgba(0, 0, 0, 0.5);   /* Change background color as needed */
      padding: 5px;
      border-radius: 5px;
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 40px;
      line-height: 60px; /* Vertically center the text there */
    }
    .card-header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 29ch;
    }
    .navbar-stats {
      background-color: #697581;
      padding: 10px;
      margin: 0 10px;
      border-radius: 5px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    }
    #stars-display .fa-star {
            font-size: 6em; /* Adjust for desired size */
            color: gold;
    }
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        color: #ffffff;
    }
  </style>
</head>
<body>
  <audio id="countdown_01" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown_theme.mp3?v=1730586719571"></audio>
  <audio id="countdown_02" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(1).mp3?v=1730586679281"></audio>
  <audio id="countdown_03" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(2).mp3?v=1730586689758"></audio>
  <audio id="countdown_04" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(3).mp3?v=1730586693650"></audio>
  <audio id="countdown_05" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(4).mp3?v=1730586666414"></audio>
  <audio id="countdown_06" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(5).mp3?v=1730586675646"></audio>
  <nav class="navbar sticky-top bg-body-tertiary" style="background-color: #3b8ec9;">
    <span class="navbar-brand mb-0 h1"><img src="/abbabox_logo.png"  alt="Abbabox Logo" height="75px" class="d-inline-block align-text-bottom">
      <br />&nbsp;The Best Damn Free Media Share Stream in the Universe
    </span>
    
    <div class="navbar-stats">
      <span class="navbar-text stat" id="counts">
        <i class="fas fa-video"></i>
        <span id="queue_count"><%= youtube.length %></span> Videos in Queue
      </span>
      <span class="navbar-text stat">
        <i class="fas fa-eye"></i>
        <span id="watch_count"><%= yt_count %></span> Videos Watched Tonight
      </span>
      <span class="navbar-text stat">
        <i class="fas fa-history"></i>
        <span id="total_count"><%= total_youtube_count %></span> Total Videos Watched
      </span>
    </div>
  </nav>
  

  <div class="container bootstrap-dark">
    &nbsp;
    <div id="leaderboard-container">
      <h5>Social Score Leader Board</h5>
      <div id="leaderboard"></div>
    </div> <!-- End leaderboard --> 
    <div id="youtube_videos_container">
      <!-- Create a table structure for DataTables -->
      <table id="youtubeTable" class="display">
        <thead>
          <tr>
            <th>Video</th>
            <th>User</th>
            <th>Rating</th>              
            <th>Watch</th>
            <th>Rated Date Time</th>
            <th>Local Time</th>
          </tr>
        </thead>
        <tbody id="youtube_videos">
          <% Object.keys(historical_youtube).forEach(function(videoId) { %>
            <% var entryArray = historical_youtube[videoId]; %>
            <% var entry = entryArray.length === 1 ? entryArray[0] : entryArray[1]; %>
            <tr>
              <td>
                <%= entry.videoTitle %>
                <br />
                <img src="<%= entry.videoThumbnail %>" class="img-fluid" alt="Video Thumbnail" />
              </td>
              <td>
                <%= entry.username %>
              </td>
              <td>
                <%= entry.rating ? entry.rating : 'Not Rated' %>
              </td>
              <td>
                <button class="btn btn-lg btn-primary watch-youtube-btn" data-video-id='<%= videoId %>' data-video-link='<%= entry.videoLink %>'>Watch</button>
              </td>
              <td><%= entry.ratingTimestamp ? entry.ratingTimestamp : entry.timestamp %></td> <!-- Adjusted for potential absence of ratingTimestamp -->
              <td>
                <!-- Displayed timestamp. The content will be filled by JavaScript -->
                <span class="local-time" data-timestamp="<%= entry.ratingTimestamp ? entry.ratingTimestamp : entry.timestamp %>"></span>
              </td>
            </tr>
          <% }); %>          
        </tbody>
      </table>
    </div>
  </div> <!-- End container -->
  <!-- Modal -->
  <div class="modal fade" id="rateModal" tabindex="-1" aria-labelledby="rateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rateModalLabel">Rate this video</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> <!-- End modal-header -->
        <div class="modal-body text-center">
          <p>Please rate this video out of 4 stars:</p>
            <input type="hidden" id="username" value="">
            <div id="stars-display"></div>
            <input type="range" min="0" max="4" step="0.0001" name="rating" id="rating-slider" value="0" style="width: 450px;">
            <div id="star-rating-number"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Skip Score</button>
            <button type="button" class="btn btn-primary" id="submitRating">Final Judgement</button>
          </div> <!-- End modal-footer -->
        </div> <!-- End modal-body -->
      </div> <!-- End modal-content -->
    </div> <!-- End modal-dialog -->
  </div> <!-- End modal -->
  <div class="modal" id="rating-modal" class="rating-modal" tabindex="-1" role="dialog" aria-labelledby="newRatingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content rating-modal-content">
        <div class="modal-header">
          <h3 id="rating-username"><span></span></h3>
        </div>
        <div class="modal-body">
          <h1 class="modal-title" id="newRatingModalLabel"><span class="this-rating"></span> <i class="fas fa-star"></i>'s</h1>
          <div class="container d-flex align-items-stretch">
            <div class="row">
              <div class="col-md-6">
                <p id="rating-rank">Ranking:<br /> <span></span></p>
              </div>
              <div class="col-md-6">
                <p id="rating-weighted">Weighted Social Score:<br /> <span></span></p>
              </div>
              <div class="col-md-6">
                <p id="rating-change-rank">Change in Rank:<br /> <span></span></p>
              </div>
              <div class="col-md-6">
                <p id="rating-change-rating">Change in Rating:<br /> <span></span></p>
            </div>
            <hr>
            <div id="rating-top10-changes"></div>
          </div>
        </div>
      </div>
    </div> <!-- End rating-modal-content -->
  </div> <!-- End rating-modal -->
</div> <!-- End modal -->
</body>

</html>