<!DOCTYPE html>
<html  data-bs-theme="dark">

<head>
  <title>The Youtube Queue</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
    integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://kit.fontawesome.com/5a69a86b05.js" crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.2/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>

  <script type="module" src="/youtube_queue.js"></script>
  <script>
    window.leaderboard = <%- JSON.stringify(leaderboard) %>;
    window.moderationsData = <%- JSON.stringify(moderations) %>;
    window.trophy_users = <%- JSON.stringify(trophy_users) %>;
  </script>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
    }
    .leaderboard-user {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border-bottom: 1px solid #ccc;
    }
    .vid_card:hover {
      transform-box: content-box;
      transform: scale(1.25);
      transition: transform 1s;
      z-index: 100;
    }
    .vid_card:hover .card-header {
      overflow: visible;
      text-overflow: clip;
      white-space: normal;
      width: auto;
    }
    .stat {
      margin-right: 20px;
    }

    .stat i {
      margin-right: 5px;
    }

    .btn-fixed-bottom {
      position: absolute;
      bottom: 0;
      margin-bottom: 20px;
      font-weight: bold;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-fixed-bottom:hover {
      background-color: #0056b3;
    }

    #leaderboard-container {
      position: fixed;
      right: 10px;
      width: 275px;
      background-color: #353e47;
      padding: 15px;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    #leaderboard-container::before,
    #leaderboard-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      border: 3px dashed #8629bf;  /* Dashed border */
      border-radius: 10px;  /* Rounded corners */
    }
    #leaderboard-container::after {
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
    }
    rgb(33, 37, 41)
    .rating {
      flex: 1;
      text-align: right; 
    }
    @keyframes fallOut {
  0% { transform: translateY(0) rotate(0deg); opacity: 1; }
  20% { transform: translateY(20px) rotate(5deg); opacity: 0.8; }
  100% { transform: translateY(1000px) rotate(30deg); opacity: 0; }
}

@keyframes fadeIn {
  0% { opacity: 0; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1); }
}

@keyframes strikeThrough {
  0% { width: 0; }
  100% { width: 100%; }
}

.dropped-score {
  position: relative;
  animation: fallOut 1.5s ease-in forwards, fadeIn 0.5s ease-out 1.5s forwards;
  color: #888; /* Grey out the text */
}

.dropped-score::after {
  position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 9em; 
    color: red;
    line-height: 100px;
    text-align: center;
    animation: strikeThrough 0.5s ease-out 2s forwards;
}


/* Additional styles to fit within your existing modal structure */
.rating-section .dropped-score {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.guest-rating-div {
  position: relative;
  transition: all 0.5s ease;
}
    .rank {
      text-align: left; 
    }
    .user {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .rating-modal {
      display: none;
      position: fixed;
      z-index: 1;
      overflow: auto;
      background-color: #434654;
    }
    .rating-modal .modal-body {
      padding: 20px;
    }
    .rating-modal .modal-body ul {
      list-style-type: none;
      padding-left: 20px;
    }
    .rating-modal .modal-body ul li {
      margin-bottom: 10px;
    }
    #half-stars .rating-group {
      display: inline-flex;
    }

    #half-stars .rating__icon {
      pointer-events: none;
    }

    #half-stars .rating__input {
      position: absolute !important;
      left: -9999px !important;
    }

    #half-stars .rating__label {
      cursor: pointer;
      /* if you change the left/right padding, update the margin-right property of .rating__label--half as well. */
      padding: 0 0.1em;
      font-size: 3rem;
    }

    #half-stars .rating__label--half {
      padding-right: 0;
      margin-right: -1.2em;
      z-index: 2;
    }

    #half-stars .rating__icon--star {
      color: orange;
    }

    #half-stars .rating__icon--none {
      color: #eee;
    }

    #half-stars .rating__input--none:checked+.rating__label .rating__icon--none {
      color: red;
    }

    #half-stars .rating__input:checked~.rating__label .rating__icon--star,
    #half-stars .rating__input:checked~.rating__label--half .rating__icon--star {
      color: #ddd;
    }

    #half-stars .rating-group:hover .rating__label .rating__icon--star,
    #half-stars .rating-group:hover .rating__label--half .rating__icon--star {
      color: orange;
    }

    #half-stars .rating__input:hover~.rating__label .rating__icon--star,
    #half-stars .rating__input:hover~.rating__label--half .rating__icon--star {
      color: #ddd;
    }

    #half-stars .rating-group:hover .rating__input--none:checked+.rating__label .rating__icon--none {
      color: red;
    }

    #half-stars .rating__input--none:hover+.rating__label .rating__icon--none {
      color: red;
    }

    .rating-modal-content {
      background-color: #434654;
      padding: 20px;
      border: 1px solid #888;
      text-align: center;
      border-radius: 10px;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      color: #4ab4ff;
      margin-bottom: 15px;
    }

    p {
      font-size: 16px;
      color: #d1d1d1;
      margin-bottom: 10px;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: scale(0.9);
      }

      to {
        opacity: 1;
        transform: scale(1);
      }
    }
    .moderation-icon {
      position: absolute;
      left: 0;
      color: #fff;   /* Change color as needed */
      font-size: 2em;   /* Change font size as needed */
      background: rgba(0, 0, 0, 0.5);   /* Change background color as needed */
      padding: 5px;
      border-radius: 5px;
    }
    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #2b3035;
      line-height: 60px; /* Vertically center the text there */
    }
    .card-header {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 29ch;
    }
    .card.h-100.highlight {
      background-color: #6A1B9A;
    }
    .card.h-100.vip {
      background-color: #a78e02;
      color: black;
    }
    .navbar-stats {
      background-color: #697581;
      padding: 10px;
      margin: 0 10px;
      border-radius: 5px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
    }
    #average-stars-display .fa-star {
            font-size: 8em; /* Adjust for desired size */
            color: rgb(187, 165, 61);
    }
    .stars-display .fa-star {
            font-size: 2em; /* Adjust for desired size */
            color: rgb(187, 165, 61);
    }
    .rating-section {
      padding-top: 10px;
      background-color: #697581;
      border-radius: 5px;
      margin-bottom: 10px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23);
      overflow: hidden;
      transition: filter 0.3s ease;
    }
    .rating-slider {
      display: none;
    }
    .blurred .rating-section {
    filter: blur(75px);
  }
  #vipVideoHeader {
    color: #a78e02;
    text-align: center;
  }
  #vip_youtube_videos {
    border: #a78e02 2px solid;
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
  }

  #time-left-duration {
  width: 110px;
  margin-left: 10px;
  text-align: center;
}
.ratio {
  position: static;
}
.gonged {
    background-image: url('/gonged.png');
    background-size: cover; /* Cover the entire area of the modal */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
}
    /*
    .rating-slider {
      -webkit-appearance: none;
      width: 98%;
      height: 15px;
      background: orange;
      outline: none;
      border: 5px solid gold;
      border-radius: 8px;
    }


    
    .rating-slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 60px;
      background: orange;
      cursor: pointer;
      border: 5px solid gold;
      border-radius: 4px;
    }

    .rating-slider::-moz-range-thumb {
      width: 20px;
      height: 60px;
      background: #000;
      cursor: pointer;
      border: 5px solid lawngreen;
      border-radius: 4px;
    } */
  </style>

<body>
  <audio class="countdownSound" id="countdown_01" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown_theme.mp3?v=1730586719571"></audio>
  <audio class="countdownSound" id="countdown_02" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(1).mp3?v=1730586679281"></audio>
  <audio class="countdownSound" id="countdown_03" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(2).mp3?v=1730586689758"></audio>
  <audio class="countdownSound" id="countdown_04" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(3).mp3?v=1730586693650"></audio>
  <audio class="countdownSound" id="countdown_05" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(4).mp3?v=1730586666414"></audio>
  <audio class="countdownSound" id="countdown_06" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/countdown-%20(5).mp3?v=1730586675646"></audio>
  <audio id="gong" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/gong.mp3?v=1700004228232"></audio>
  <audio id="veto" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/answer-wrong.mp3?v=1700004667898"></audio>
  <audio id="fart_01" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/dry-fart.mp3?v=1700004818800"></audio>
  <audio id="fart_02" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart_1.mp3?v=1700023345954"></audio>
  <audio id="fart_03" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart_03.mp3?v=1700023464386"></audio>  
  <audio id="fart_04" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/perfect-fart.mp3?v=1700023636828"></audio>
  <audio id="fart_05" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart-toot.mp3?v=1700023653624"></audio>
  <audio id="fart_06" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart-with-reverb_NcgStsA.mp3?v=1700023644773"></audio>
  <audio id="fart_07" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/fart3.mp3?v=1700023649738"></audio>
  <audio id="moan_01" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/moan-1.mp3?v=1706443774474"></audio>
  <audio id="moan_02" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/maon-2.mp3?v=1706443815977"></audio>
  <audio id="moan_03" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/maon-3.mp3?v=1706443854425"></audio>
  <audio id="moan_04" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/moan-4.mp3?v=1706443879906"></audio>
  <audio id="moan_05" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/moan_5.m4a?v=1706444485774"></audio>
  <audio id="forced_shuffle" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/forced_shuffle.mp3?v=1702767312975"></audio>
  <audio id="lockedin" src="https://cdn.glitch.global/38551651-fc87-4f60-b474-a27d424d372b/input_ok.mp3?v=1703768903507"></audio>
  <audio id="tts" src="/tts"></audio>
  <nav class="navbar sticky-top bg-body-tertiary" style="background-color: #3b8ec9; display: flex; justify-content: center;">
      <div style="text-align: left;">
          <img src="/abbabox_logo.png" alt="Abbabox Logo" height="75px" class="d-inline-block align-text-bottom">
          <br />
          &nbsp;The Best Damn Free Media Share Stream in the Universe
      </div>
      <div class="navbar-stats" style="position: absolute; right: 10px;">
          <span class="navbar-text stat" id="counts">
              <i class="fas fa-video"></i>
              <span id="queue_count"><%= youtube.length %></span> Videos in Queue
          </span>
          <span class="navbar-text stat">
              <i class="fas fa-eye"></i>
              <span id="watch_count"><%= yt_count %></span> Videos Watched Tonight
          </span>
          <span class="navbar-text stat">
              <i class="fas fa-history"></i>
              <span id="total_count"><%= total_youtube_count %></span> Total Videos Watched
          </span>
      </div>
      <div class="alert alert-warning alert-dismissible fade show d-none" role="alert" id="automated_alert">
        <h4 class="alert-heading" id="alert_heading"></h4>
        <hr>
        <h1><span id="alert_headline"></span></h1>
        <h2 id="alert_message"></h2>
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-outline-warning shuffle">Shuffle</button>
          <button type="button" class="btn btn-outline-warning replay" id="replay_tts">Replay Message</button>
          <button type="button" class="btn btn-outline-warning" id="hide_auto_alert" aria-label="Close">Close This</button>
        </div>
      </div>
  </nav>
  <div class="container bootstrap-dark">
    &nbsp;
    <div id="leaderboard-container">
      <h5>Social Score Leader Board</h5>
      <div id="leaderboard"></div>
    </div> <!-- End leaderboard --> 

    <div class="row row-cols-1 text-center d-none" id="vipVideoHeader">
      <h1>VIP Videos</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 d-none" id="vip_youtube_videos">
      <% youtube.forEach(function(youtube, index) { %>
        <% if (youtube['vip']) { %>
        <div class="col-md-3 mb-4 vid_card <%= youtube['vip'] ? 'vip' : '' %>" id="row_<%= youtube['video']['id'] %>" data-userId="<%= youtube['user'] %>">
          <div class="card boarder-primary h-100 vip">
              <div class="card-header d-flex justify-content-between align-items-center">
                <%= youtube['video']['snippet']['title'] %>
              </div> <!-- End card-header -->
              <div class="card-body p-0">
                <% if (youtube['video']['snippet']['thumbnails']['standard']) { %>
                  <img src="<%= youtube['video']['snippet']['thumbnails']['standard']['url'] %>" class="card-img-top" alt="Video Thumbnail" />
                  <% } else { %>
                    <img src="<%= youtube['video']['snippet']['thumbnails']['default']['url'] %>" class="card-img-top" alt="Video Thumbnail" />
                    <% } %>
              </div><!-- End card-body --> 
              <div class="card-footer d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <small class="fake-username"></small>
                  <small class="username d-none"><%= youtube['user'] %></small>
                  <small class="duration"><%= youtube['length'] ? formatDuration(youtube['length']) : '' %></small>
                </div>  
                <div class="d-flex justify-content-between mt-2">
                  <button data-video-id='<%= youtube['video']['id'] %>' class='btn btn-sm btn-outline-danger remove-youtube-btn'
                  data-toggle='tooltip' data-placement='top' title='Remove Video'><i class='fa-solid fa-trash'></i></button>
                  <button class="btn btn-lg btn-outline-primary watch-youtube-btn" data-video-id='<%= youtube['video']['id'] %>' data-video-link='<%= youtube['link'] %>'>Watch</button>
                </div>
              </div> <!-- End card-footer -->
            </div> <!-- End card -->
        </div> <!-- End col -->
        <% } %>
      <% }); %>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" id="youtube_videos">
      <% youtube.forEach(function(youtube, index) { %>
        <% if (!youtube['vip']) { %>
        <div class="col-md-3 mb-4 vid_card" id="row_<%= youtube['video']['id'] %>" data-userId="<%= youtube['user'] %>">
          <div class="card h-100 <%= index < 8 ? 'highlight' : '' %>">
              <div class="card-header d-flex justify-content-between align-items-center">
                <%= youtube['video']['snippet']['title'] %>
              </div> <!-- End card-header -->
              <div class="card-body p-0">
                <% if (youtube['video']['snippet']['thumbnails']['standard']) { %>
                  <img src="<%= youtube['video']['snippet']['thumbnails']['standard']['url'] %>" class="card-img-top" alt="Video Thumbnail" />
                  <% } else { %>
                    <img src="<%= youtube['video']['snippet']['thumbnails']['default']['url'] %>" class="card-img-top" alt="Video Thumbnail" />
                    <% } %>
              </div><!-- End card-body --> 
              <div class="card-footer d-flex flex-column">
                <div class="d-flex justify-content-between">
                  <small class="fake-username"></small>
                  <small class="username d-none"><%= youtube['user'] %></small>
                  <small class="duration"><%= youtube['length'] ? formatDuration(youtube['length']) : '' %></small>
                </div>  
                <div class="d-flex justify-content-between mt-2">
                  <button data-video-id='<%= youtube['video']['id'] %>' class='btn btn-sm btn-outline-danger remove-youtube-btn'
                  data-toggle='tooltip' data-placement='top' title='Remove Video'><i class='fa-solid fa-trash'></i></button>
                  <button class="btn btn-lg btn-outline-primary watch-youtube-btn" data-video-id='<%= youtube['video']['id'] %>' data-video-link='<%= youtube['link'] %>'>Watch</button>
                </div>
              </div> <!-- End card-footer -->
            </div> <!-- End card -->
        </div> <!-- End col -->
        <% } %>
      <% }); %>
    </div> <!-- End row -->
  </div> <!-- End container -->
  <!-- Modal -->
  <div class="modal fade" id="rateModal" tabindex="-1" aria-labelledby="rateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="rateModalLabel">Rate this video</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> <!-- End modal-header -->
        <div class="modal-body text-center">
          <div class="modal-body text-center">
            <input type="hidden" id="username" value="">
            <input type="hidden" id="fakeUsername" value="">
            <div class="rating-section">
              <h1><span id="realUsername"></span>'s Final Rating</h1>
              <div id="average-stars-display"></div>
              <h1 id="average-rating-number"></h1>
            </div>
            <div class="rating-section" id="guest-ratings">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-outline-warning" id="reopen_vid">Reopen This Video</button>
            <button type="button" class="btn btn-sm btn-outline-info" id="blind-ratings">Toggle Blind Ratings</button>
            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Skip Score</button>
            <button type="button" class="btn btn-sm btn-outline-success" id="add-chat-score">Enable Chat Score</button>
            <button type="button" class="btn btn-sm btn-outline-primary" id="submitRating">Final Judgement</button>
          </div> <!-- End modal-footer -->
        </div> <!-- End modal-body -->
      </div> <!-- End modal-content -->
    </div> <!-- End modal-dialog -->
  </div> <!-- End modal -->
  <div class="modal" id="rating-modal" class="rating-modal" tabindex="-1" role="dialog" aria-labelledby="newRatingModalLabel" aria-hidden="true" style="z-index: 1200;">
    <div class="modal-dialog" role="document">
      <div class="modal-content rating-modal-content">
        <div class="modal-header">
          <h3 id="rating-username"><span></span></h3>
        </div>
        <div class="modal-body">
          <h1 class="modal-title" id="newRatingModalLabel"><span class="this-rating"></span> <i class="fas fa-star"></i>'s</h1>
          <div class="container d-flex align-items-stretch">
            <div class="row">
              <div class="col-md-6">
                <p id="rating-rank">Ranking:<br /> <span></span></p>
              </div>
              <div class="col-md-6">
                <p id="rating-weighted">Weighted Social Score:<br /> <span></span></p>
              </div>
              <div class="col-md-6">
                <p id="rating-change-rank">Change in Rank:<br /> <span></span></p>
              </div>
              <div class="col-md-6">
                <p id="rating-change-rating">Change in Rating:<br /> <span></span></p>
            </div>
            <hr>
            <div id="rating-top10-changes"></div>
          </div>
        </div>
      </div>
    </div> <!-- End rating-modal-content -->
  </div> <!-- End rating-modal -->
</div> <!-- End modal -->
<div class="modal" id="watchYoutubeModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-5" id="youtubeVideoTitle"></h5>
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close" data-toggle="tooltip" data-placement="top" title="Start Rating">Start Rating</button>
      </div>
      <div class="modal-body" id="watchYoutubeModalBody">
        <br />
        <!-- 16:9 aspect ratio -->
        <div class="container-flex">
          <div class="ratio ratio-16x9">
            <div id="youtube-player"></div>
          </div>
        </div>
      </div>
        <!-- Media controls -->
        <div class="d-flex justify-content-between align-items-center">
          <button type="button" class="btn btn-outline-default" id="youtube-play-pause" aria-label="Left Align">
            <div style="width: 24px; text-align: center;"> <!-- adjust the width as needed -->
              <i class="fas fa-play fa-2x active" aria-hidden="true"></i>
              <i class="fas fa-pause fa-2x inactive" aria-hidden="true" style="display:none;"></i>
            </div>
          </button>
          <div class="progress" style="flex-grow: 1; margin: 0 10px;">
            <div class="progress-bar" id="youtube-player-progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!-- Time left/duration -->
          <div id="time-left-duration">
            <span id="current-time">00:00</span> / <span id="total-duration">00:00</span>
          </div>
          <!-- Volume control -->
          <div class="volume-slider" style="margin-left: 10px;">
            <input type="range" id="volume-control" min="0" max="100" step="1" value="100">
          </div>
          <!-- Closed Captioning -->
          <button type="button" class="btn btn-outline-default" id="youtube-cc" aria-label="Left Align">
            <i class="fas fa-closed-captioning fa-2x active" aria-hidden="true"></i>
          </button>          
        </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="d-flex justify-content-center">
    <form class="form-inline">
      <div class="btn-group">
        <button class="btn btn-outline-primary my-2 my-sm-0 shuffle" id="" type="button" data-toggle="tooltip" data-bs-trigger="hover focus" data-placement="top" title="Fisher Yates Randomization">
          <i class="fas fa-random"></i> Shuffle
        </button>
        <button class="btn btn-outline-secondary my-2 my-sm-0" id="unwatched-users" type="button" data-toggle="tooltip" data-placement="top" title="Users without videos watched during this stream first">
          <i class="fas fa-eye-slash"></i> (Really Fixed) Unwatched Users
        </button>
        <button class="btn btn-outline-info my-2 my-sm-0" id="time-sort" type="button" data-toggle="tooltip" data-placement="top" title="Shortest videos first">
          <i class="fas fa-clock"></i> Duration Short
        </button>
        <button class="btn btn-outline-warning my-2 my-sm-0" id="make_fair" type="button" data-toggle="tooltip" data-placement="top" title="Users with fewest ratings per season shown first">
          <i class="fas fa-balance-scale"></i> Make Fair
        </button>
        <button class="btn btn-outline-success my-2 my-sm-0" id="social_sort" type="button" data-toggle="tooltip" data-placement="top" title="Highest social scores first">
          <i class="fas fa-sort-amount-up"></i> Social Sort
        </button>
        <button class="btn btn-outline-light my-2 my-sm-0" id="reopen_modal" type="button" data-toggle="tooltip" data-placement="top" title="Reopen Rating">
          <i class="fas fa-window-restore"></i> Reopen Rating
        </button>
      </div>
    </form>
  </div>
</footer>
        <!-- Footer -->
</body>

</html>